html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    overflow: hidden;
}

a:hover {
    cursor: pointer;
}

.bullet {
    font-size: 8px;
}

body > .content {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    height: 100%;
}

.content > .left {
    flex: 3;
    padding: 8px;
}

.content > .center {
    flex: 6;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    overflow-y: auto;

    position: relative;
}

.content > .right {
    flex: 3;
    padding: 16px;
}

.link-container + .link-container {
    margin-top: 8px;
}

.brand,
.nav-item {
    display: inline-block;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.brand:hover,
.nav-item:hover {
    background-color: rgb(214,238,253);
    color: rgb(29, 161, 242);
}

.nav-item i {
    margin-right: 8px;
}

.tweet-btn {
    margin-top: 16px;
    font-size: 18px;
    padding: 8px;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: 1000px;
    width: 100%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.center > .title {
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.center > .create-tweet {
    border-bottom: 1px solid lightgray;
    padding: 12px;
    display: flex;
    align-items: center;
}

.center > .create-tweet > i {
    color: rgb(29, 161, 242);
}

input {
    flex-grow: 1;
    height: 32px;
    padding: 8px 16px;
    border-radius: 100px;
    outline: none;
    border: none;
    margin: 0 8px;
    color: rgb(101, 119, 134);
    background-color: rgb(230, 236, 240);
}

.profile {
    display: inline-block;
    background-color: rgb(37, 139, 223);
    
    
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.center > .tweets > .tweet {
    padding: 8px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.center > .tweets > .tweet > .left {
    padding: 4px;
}

.center > .tweets > .tweet > .right {
    padding: 4px;
    flex-grow: 1;
}

.tweet:hover {
    background-color: rgb(245, 248, 250);
}

.tweet .info .name {
    font-weight: bold;
}

.tweet .info .tag {
    color: gray;
}

.tweet .info .time {
    color: gray;
}

.tweet .buttons {
    margin-top: 8px;
    color: #aaaaaa;
}

.tweet .buttons i {
    font-size: 20px;
}

.tweet .content {
    margin-top: 8px;
}

.tweet .buttons > .button {
    display: inline-flex;
    align-items: center;
}

.tweet .buttons > .button i {
    margin-right: 8px;
    padding: 4px;
    margin-left: -4px;
}

.tweet .buttons > .button:hover {
    cursor: pointer;
    color: rgb(29, 161, 242);
}

.tweet .buttons > #repeat:hover {
    cursor: pointer;
    color: rgb(28, 122, 4);
}

.tweet .buttons > #heart:hover {
    cursor: pointer;
    color: rgb(238, 11, 11);
}


.tweet .buttons > .button:hover i {
    background-color: rgb(214,238,253);
    border-radius: 100px;
}

.tweet .buttons > .button + .button {
    margin-left: 32px;
}

.input-container {
    display: flex;
}

.input-container input {
    margin: 0;
}

.right .group {
    background-color: rgb(245, 248, 250);
    margin-top: 24px;
    border-radius: 16px;
}

.right > .group > * {
    padding: 12px;
}

.right .group > .title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(230, 236, 240);
}

.right .group .trending:not(:last-child) {
    border-bottom: 1px solid rgb(230, 236, 240);
}

.right .group .trending .location {
    font-size: 14px;
    color: rgb(101, 119, 134);
}

.right .group .trending .subject {
    font-size: 14px;
    font-weight: bold;
}

.right .group .trending .tweets {
    font-size: 14px;
    color: rgb(101, 119, 134);
}

.right .group .trending .link {
    margin-top: 8px;
    border: 1px solid rgb(230, 236, 240);
    border-radius: 16px;
    display: flex;
    overflow: hidden;
}

.link .title {
    padding: 8px;
    font-size: 14px;
    color: rgb(101, 119, 134);
}

.link .description {
    margin: 0;
    padding: 0 8px;
    margin-bottom: 8px;
    padding-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}